/* Base styles */
*, input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
 background-image: -webkit-linear-gradient(top, #222222 0%, #111111 100%) !important;
  background-image: -o-linear-gradient(top, #222222 0%, #111111 100%) !important;
  background-image: linear-gradient(to bottom, #2a2a2a 0%, #1a1a1a 100%) !important;
  background-repeat: repeat-x !important;   
  min-height: 100%; 
  background-attachment: fixed;
}

body {
  color: #bbb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 50px;

}

img {
  max-width: 100%;
  vertical-align: middle;
}

img[width], img[height] {
  max-width: none;
}

figure > img {
  display: block;
}

a {
  color: #428bca;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #5A6F8B;
}

a strong {
  color: inherit !important;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
[dir="rtl"] table {
  text-align: right;
}

td, th {
  border-color: #2c2c2c;
  border-style: solid;
  padding: 5px;
  vertical-align: baseline;
}

th {
  border-width: 1px 0;
  color: #bebebe;
  font-size: 11px;
  font-weight: normal;
}

td {
  border-width: 0 0 1px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffd180;
  font-weight: 400;
}

h1 {
  font-size: 20px;
}

input, label {
  display: inline-block;
  vertical-align: middle;
}

label {
  font-size: 12px;
}

input[type="checkbox"] + label {
  margin-left: 5px;
}

input, textarea {
  border: 0;
  border-radius: 2px;
  padding: 10px;
  background: #2C2C2C;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  outline: none;
  color: #ddd;
}

textarea {
  height: 100px;
  padding: 7px 10px;
  resize: vertical;
}

textarea, input[type=text] {
  width: 100%;
}

input, textarea, select {
  color: #ddd;
  background-color: #2C2C2C;
}

select {
  border: 0;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

/* Buttons */
button, [role=button], [type=button], [type=submit] {
  border-radius: 4px;
  border: 1px solid #2c2c2c;
  color: #428bca;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

a[role=button]:hover {
  text-decoration: none;
}

input[type=submit] {
  background: #2C2C2C;
  border-color: transparent;
  color: #FFF;
  padding: 10px 30px;
}

input[type=submit][disabled] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 8 */
  opacity: 0.4;
}

button img, [role=button] img {
  border-radius: 4px;
  margin: 0 5px 0 0;
  height: 20px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
[dir="rtl"] button img, [dir="rtl"] [role=button] img {
  margin: 0 0 0 5px;
}

/* Forms */
.form {
  max-width: 505px;
}

.form-field + .form-field {
  margin-top: 25px;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.form-field input[type=checkbox] + label {
  margin: 0 0 0 10px;
}

.form-field.required > label:after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.form-field p {
  color: #888;
  font-size: 11px;
}

.form-field input[type=number], .form-field input.datepicker {
  width: 150px;
}

.form form + form, .searchbox {
  margin-top: 25px;
}

.searchbox-suggestions {
  background-color: #fff;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
  padding: 10px 20px;
}

.searchbox-suggestions li {
  padding: 5px 0;
}

[data-loading="true"] input,
[data-loading="true"] textarea {
  background: transparent url(/hc/assets/loader.gif) 99% 50% no-repeat;
  background-size: 16px 16px;
}

.form footer {
  border-top: 1px solid #2C2C2C;
  margin-top: 40px;
  padding-top: 30px;
  text-align: right;
}

.form footer a {
  color: #cccccc;
  cursor: pointer;
  margin-right: 15px;
}

/* Navigation menus */
.nav li, .nav-bordered li, .nav-spaced li {
  display: inline-block;
  font-weight: bold;
}

.nav li a, .nav-bordered li a, .nav-spaced li a {
  font-weight: normal;
}

.nav-bordered li + li {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 0 0 0 1px;
  margin: 0 0 0 30px;
  padding: 0 0 0 30px;
}

[dir="rtl"] .nav-bordered li + li {
  border-width: 0 1px 0 0;
  margin: 0 30px 0 0;
  padding: 0 30px 0 0;
}

.nav-spaced li + li {
  margin: 0 0 0 40px;
}

[dir=rtl] .nav-spaced li + li {
  margin: 0 40px 0 0;
}

/* Search box */
.search-box, .sub-nav .search {
  position: relative;
}

.search-box:before, .sub-nav .search:before {
  content: "\1F50D";
  font-family: "entypo";
  font-size: 1.25em;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 2.5em;
  z-index: 1;
}

.search-box input, .sub-nav .search input {
  line-height: 1.2em;
  font-weight: lighter;
  padding: .75em 2.7em;
  width: 100%;
  -webkit-appearance: none;
}

.search-box input[type="submit"], .sub-nav .search input[type="submit"] {
  display: none;
}

/* Breadcrumbs */
.breadcrumbs li {
  color: #bebebe;
  display: inline-block;
  font-size: 12px;
}
.breadcrumbs li + li:before {
  content: ">";
  margin: 0 4px;
}
.breadcrumbs li a {
  color: #bbb;
}

/* Labels */
.label, .request-status {
  border-radius: 20px;
  display: inline-block;
  font-size: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Metadata */
.meta, .meta-group {
  color: #cccccc;
  display: inline-block;
  font-size: 11px;
}

.meta-group * + *:before {
  content: "\2022";
  font-size: 8px;
  margin: 0 10px;
}

/* Helper classes */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Social share links */
.share {
  white-space: nowrap;
  display: none !important;
}

.share li, .share a {
  display: inline-block;
}

.share a {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  vertical-align: middle;
  width: 30px;
}

.share a:before {
  background: #CCC;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  font-family: "entypo";
  text-align: center;
  width: 100%;
}

.share a:hover {
  text-decoration: none;
}

.share-twitter:before {
  content: "\F309";
}

.share-facebook:before {
  content: "\F30C";
}

.share-linkedin:before {
  content: "\F318";
}

.share-googleplus:before {
  content: "\F30F";
}

/* Pagination */
.pagination {
  margin: 20px 0;
  text-align: center;
}

.pagination * {
  display: inline-block;
}

.pagination li {
  border: 1px solid #2C2C2C;
  float: left;
  margin-left: -1px;
}
[dir="rtl"] .pagination li {
  float: right;
}

.pagination a, .pagination span {
  color: inherit;
  font-size: 12px;
  padding: 5px 12px;
}

.pagination-current {
  background-color: #f9f9f9;
  color: #bebebe;
}

.pagination-first {
  border-radius: 3px 0 0 3px;
}
[dir="rtl"] .pagination-first {
  border-radius: 0 3px 3px 0;
}

.pagination-last {
  border-radius: 0 3px 3px 0;
}
[dir="rtl"] .pagination-last {
  border-radius: 3px 0 0 3px;
}

/* Markdown styles */
.markdown {
  word-wrap: break-word;
  line-height: 1.7;
}
.markdown img {
  max-width: 100%;
}
.markdown hr {
  background-color: #555;
  border: 0;
  height: 1px;
}
.markdown ul, .markdown ol {
  list-style-position: outside;
    padding: 0 36px;
  margin-bottom: 10px;
}
.markdown ul {
  list-style-type: disc;
}
.markdown ol {
  list-style-type: decimal;
}
.markdown pre {
  background: #272727;
  border: 0;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: auto;
  white-space: pre-wrap;
}
.markdown pre code {
  white-space: pre-wrap;
}
.markdown blockquote {
  border-left: 1px solid #2f2f2f;
  color: #717171;
  font-style: italic;
  padding: 0 15px;
}

/* Frame */
main, .header-inner, .footer-inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 980px;
}

/* Columns */
.main-column, .side-column {
  display: inline-block;
  vertical-align: top;
}

.main-column {
  width: 620px;
}

.side-column {
  width: 270px;
  margin-left: 45px;
}
[dir=rtl] .side-column {
  margin-left: 0;
  margin-right: 45px;
}

/* Header */
.header {
  /*background: #222;*/
  background: transparent;
  /*border-bottom: 1px solid #eeeeee;*/
}

.header-inner {
  display: table;
  height: 100px;
}

.logo, .user-nav {
  display: table-cell;
  vertical-align: middle;
}

.logo img {
  max-height: 60px;
}

.user-nav {
  text-align: right;
}
.user-nav > * {
  display: inline-block;
  margin: 0 0 0 25px;
}
[dir=rtl] .user-nav {
  text-align: left;
}
[dir=rtl] .user-nav > * {
  margin: 0 25px 0 0;
}

/* Home page */
.hero-unit-container {
  background: #3C3C3C;
  position:absolute;
  left: 0;
  width: 100%;
  top: 101px;
}
.hero-unit {
  display: block;
  font-size: 22px;
  padding: 50px 0;  
  width: 980px;
  margin: 0 auto;
}

body.community-enabled .knowledge-base, body.community-enabled .community {
  display: inline-block;
  vertical-align: top;
}
body.community-enabled .knowledge-base {
  width: 275px;
  margin-right: 20px;
}

.knowledge-base, .community {
  display: inline-block;
  vertical-align: top;
}

.knowledge-base {
  font-size: 12px;
  width: 100%;
      white-space: normal;
}

.twitter-container {
  display: inline-block;
}

.community {
  background: #333;
  border-radius: 5px;
  display: none;
  padding: 25px 20px;
  margin-top: 65px;
  margin-left: 45px;
  width: 270px;
}
[dir=rtl] .community {
  margin-left: 0;
  margin-right: 45px;
}
.community .recent-activity {
  padding: 0;
  width: auto;
}

.community h2, .community h3, .section h3 {
  color: #bbb;
  font-size: 13px;
  font-weight: lighter;
  margin: 10px 0 15px;
  text-transform: uppercase;
}

.community h4 {
  font-size: 15px;
  margin-top: 0;
}

.community h4 a {
  font-size: 11px;
  font-weight: normal;
  margin-left: 5px;
}

.community .trending-questions + h4 {
  margin-top: 50px;
}

/* Knowledge base trees */
.article-list li, .community li {
  margin-bottom: 10px;
}

.category h2 {
  border-bottom: 1px solid #2c2c2c;
  font-size: 16px;
  margin: 25px 0;
  padding-bottom: 18px;
}

.category h2 a, .section h3 a {
  color: inherit;
}

.category-empty, .section {
  display: inline-block;
  padding: 0 50px 30px 0;
  vertical-align: top;
  width: 49.5%;
}
[dir=rtl] .category-empty, [dir=rtl] .section {
  padding: 0 0 30px 50px;
}

.see-all-articles {
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
}

.category-description, .section-description {
  color: #bebebe;
  margin-bottom: 50px;
  margin-top: -15px;
}

.category-list a, .section-list a {
  color: inherit;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
}

.page-header {
  border-bottom: 1px solid #2C2C2C;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}
.page-header > * {
  display: table-cell;
  vertical-align: middle;
}
.page-header > *:first-child {
  width: 100%;
}
.page-header + p {
  color: #bebebe;
  margin: -15px 0 20px 0;
}
.page-header h1 {
  font-size: 20px;
}

/* Sub-nav */
.sub-nav {
  display: table;
  margin-bottom: 25px;
  padding: 25px 0;
  table-layout: fixed;
  width: 100%;
}
.sub-nav > * {
  display: table-cell;
}
.sub-nav .breadcrumbs {
  overflow: hidden;
  white-space: nowrap;
}
.sub-nav .search {
  width: 300px;
}

/* Article */
.article-header {
  margin-bottom: 25px;
}
.article-header h1 {
  font-weight: bold;
  margin: 0 0 10px;
}

.article-info > * {
  display: table-cell;
  vertical-align: middle;
}

.article-avatar {
  min-width: 55px;
}
.article-avatar img {
  border-radius: 3px;
  max-height: 38px;
  max-width: 38px;
}

.article-meta {
  width: 100%;
}

.article-updated {
  display: block;
}

.article-more-questions {
  margin: 15px 0 50px;
}

.article-body table {
  table-layout: fixed;
  margin-top: 10px;
}

.article-footer {
  border-bottom: 1px solid #2C2C2C;
  margin-top: 15px;
  padding: 20px 0;
}
.article-footer .article-vote, .article-footer .share {
  display: table-cell;
}

.article-vote {
  width: 100%;
}

.article-vote > * {
  display: inline-block;
}

.article-vote-controls {
  margin: 0 5px;
}

.article-vote-count {
  color: #999999;
  min-width: 20%;
}

.article-vote-up, .article-vote-down {
  color: inherit;
  font-family: "entypo";
}

.article-vote-up:before {
  content: "\1f44d";
}

.article-vote-down:before {
  content: "\1f44e";
}

.article-vote-up.article-voted {
  color: #6B9100;
  border-color: #6B9100;
}

.article-vote-down.article-voted {
  color: #999;
  border-color: #999;
}

/* Side column */
.side-column h3 {
  border-bottom: 1px solid #2C2C2C;
  padding-bottom: 15px;
  margin: 0 0 20px;
}
.side-column ul {
  margin-bottom: 60px;
}
.side-column li {
  margin-bottom: 10px;
}
.side-column li a {
  font-size: 12px;
}

.visibility-internal-icon:before {
  content: "\1F512";
  display: inline-block;
  font-family: "entypo";
  text-align: center;
  width: 13px;
}

.article-promoted span, .visibility-internal {
  cursor: default;
  position: relative;
}
.article-promoted span:before, .article-promoted span:after, .visibility-internal:before, .visibility-internal:after {
  display: none;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
}
.article-promoted span:before, .visibility-internal:before {
  background: #222;
  border-radius: 3px;
  color: #FFF;
  content: attr(data-title);
  font-family: sans-serif;
  left: -10px;
  margin-top: 5px;
  padding: 3px 10px;
  text-transform: none;
  top: 100%;
  white-space: nowrap;
  z-index: 1;
}
.article-promoted span:after, .visibility-internal:after {
  border-bottom: 5px solid #222;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
}
.article-promoted span:hover:before, .article-promoted span:hover:after, .visibility-internal:hover:before, .visibility-internal:hover:after {
  display: block;
}

/* Comments - Article, Request and Post pages */
.comment-list {
  margin-bottom: 25px;
}
.comment-list > * {
  border-bottom: 1px solid #2C2C2C;
  padding: 25px 0;
}
.comment-list > *:first-child {
  border-top: 1px solid #2C2C2C;
}

.comment-sorter {
  float: right;
}
.comment-sorter a {
  color: #999;
  text-decoration: none;
  padding-left: 20px;
}

.comment-sorter [aria-selected=true] {
  font-weight: bold;
  color: #333;
}

.comment, .comment-form {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.comment > *, .comment-form > * {
  display: table-cell;
  vertical-align: top;
}

.comment-vote, .comment-bookmark {
  text-align: center;
  width: 50px;
}

.comment-bookmark:before {
  color: #77a500;
  content: "\1F516";
  font-family: "entypo";
  font-size: 23px;
  line-height: 1.1;
}

.comment-avatar {
  position: relative;
  width: 55px;
}

.comment-avatar-agent:after {
  background-color: transparent;
  background-image: url(/hc/assets/agent-marker.png);
  background-image: url(/hc/assets/agent-marker.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  content: " ";
  height: 15px;
  left: 55px;
  position: absolute;
  top: 55px;
  width: 15px;
}
[dir=rtl] .comment-avatar-agent:after {
  left: auto;
  right: 55px;
}

.comment-header {
  margin-bottom: 15px;
}

.comment-published, .comment-pending, .comment-official {
  border: 1px solid transparent;
  float: right;
  font-size: 11px;
  padding: 1px 5px;
}
[dir=rtl] .comment-published, [dir=rtl] .comment-pending, [dir=rtl] .comment-official {
  float: left;
}

.comment-published {
  color: #bebebe;
}
.comment-published:before {
  content: " ";
  display: inline-block;
  width: 5px;
}

.comment-pending, .comment-official {
  border-color: currentcolor;
  border-radius: 2px;
}

.comment-pending {
  color: #eec100;
}

.comment-official {
  color: #77a500;
}

.comment-form textarea {
  border-radius: 2px 2px 0 0;
  border-width: 1px;
}

.comment-attachments {
  border: 1px solid #dddddd;
  margin-top: -1px;
  padding: 10px;
}

.comment-form-controls {
  display: none;
  margin-top: 10px;
  text-align: right;
}

.comment-form-controls input[type=submit] {
  margin-left: 15px;
}
[dir=rtl] .comment-form-controls input[type=submit] {
  margin-left: 0;
  margin-right: 15px;
}

.comment-screencasts, .comment-mark-as-solved {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
[dir=rtl] .comment-screencasts, [dir=rtl] .comment-mark-as-solved {
  margin-left: 20px;
}

.comment-actions {
  float: right;
  color: #999999;
}

.comment-actions .dropdown-toggle:before {
  content: "\2699";
  font-size: 11px;
  font-family: "entypo";
}

.attachment-list, .screencast-list {
  font-size: 11px;
  margin-top: 25px;
}
.attachment-list span, .screencast-list span {
  color: #999999;
}
.attachment-list li, .screencast-list li {
  margin-bottom: 10px;
}
.attachment-list li:before, .screencast-list li:before {
  background: #f9f9f9;
  border-radius: 3px;
  color: #bbb;
  font-family: "entypo";
  margin-right: 5px;
  padding: 5px;
}

.attachment-list li:before {
  content: "\1F4CE";
}

.screencast-list li:before {
  content: "\1F4BB";
}

.my-activities-header {
  border-bottom: 1px solid #2C2C2C;
  margin-bottom: 25px;
  padding: 25px 0;
}
.my-activities-header .breadcrumbs li {
  color: #ffd180;
  font-size: 20px;
  font-weight: normal;
}
.my-activities-header .breadcrumbs li:first-child, .my-activities-header .breadcrumbs li:before {
  display: none;
}

.my-activities-nav {
  margin-bottom: 100px;
}

.my-activities-sub-nav {
  margin-bottom: 15px;
}

.request-table-toolbar {
  background: transparent;
  display: table;
  padding: 8px;
  width: 100%;
}

.request-table-filters {
  display: table-cell;
  text-align: right;
}
[dir="rtl"] .request-table-filters {
  text-align: left;
}
.request-table-filters label:before {
  content: " ";
  width: 25px;
  display: inline-block;
}

.requests-search {
  border-radius: 20px;
  outline: none;
  padding: 6px 15px;
}

.request-id {
  color: #bebebe;
}

.request-details {
  background: #f9f9f9;
  border: 1px solid #2C2C2C;
  border-radius: 3px;
  font-size: 12px;
  margin: 0 0 30px;
  padding: 15px 20px;
}

.request-details dt ~ dt {
  font-weight: bold;
  margin-top: 15px;
}

.request-details dd {
  margin: 2px 0 0;
  word-wrap: break-word;
}

.request-details dd ul {
  margin: 10px 0;
}

.request-details dd li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0 0 3px 0;
}

.request-details .nested-field-tag:before {
  content: " > ";
}
.request-details .nested-field-tag:first-child:before {
  content: "";
}

.request-status {
  color: #FFF;
  border-radius: 3px;
}

.request-open {
  background: #59BBE0;
}

.request-answered {
  background: #F5CA00;
}

.request-solved {
  background: #828282;
}

/* Community heading */
.community-heading {
  font-size: 18px;
  margin: 0;
  width: 100%;
}

.community-heading a {
  color: #ffd180;
}

/* Community nav */
.community-nav {
  border-bottom: 1px solid #2C2C2C;
  margin-bottom: 15px;
  padding: 25px 0;
}

.community-nav li {
  display: inline-block;
  font-weight: bold;
  padding-right: 30px;
}

.community-nav li a {
  font-weight: normal;
}

.community-nav li + li {
  border-left: 1px #2C2C2C;
  padding-left: 30px;
}

.community-nav li:last-child {
  border: 0;
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  top: -5px;
}
[dir=rtl] .community-nav li:last-child {
  float: left;
}

.community-nav li:last-child a {
  color: #428bca;
}

.community-nav li:last-child a:before {
  content: "\270E";
  font-family: "entypo";
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
[dir=rtl] .community-nav li:last-child a:before {
  margin-right: 0;
  margin-left: 10px;
}

/* Community sub-nav */
.community-sub-nav {
  border-bottom: 1px solid #2C2C2C;
  padding: 15px 0;
  position: relative;
  width: 800px;
}

.community-sub-nav li {
  display: inline-block;
  font-weight: bold;
  padding-right: 15px;
}

.community-sub-nav li a {
  font-weight: normal;
}

.community-sub-nav li + li {
  padding-left: 15px;
}

.community-sub-nav .topic-add {
  position: absolute;
  right: 0;
  top: 10px;
}

/* Topics/questions/answers */
.topic {
  display: inline-block;
  width: 49.5%;
  padding: 20px 30px 20px 0;
  vertical-align: top;
}

.topic-header, .question-header {
  border-bottom: 1px solid #2C2C2C;
  display: table;
  padding-bottom: 10px;
}

.topic-header > *, .question-header > * {
  display: table-cell;
  vertical-align: middle;
}

.topic-header .topic-meta, .question-header .question-meta {
  padding: 0 15px;
  white-space: nowrap;
}

.topic-heading, .question-heading, .answer-list-heading {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

.topic-heading {
  font-size: 18px;
}

.topic-questions {
  margin-top: 45px;
}

.topic-description {
  word-break: break-word;
}

.question, .answer {
  border-bottom: 1px solid #2C2C2C;
  padding: 20px 0;
  position: relative;
}

.question-form .nesty-input {
  max-width: none;
}

.question-avatar, .answer-avatar {
  display: table-cell;
  margin-right: 10px;
  min-width: 50px;
  position: relative;
  vertical-align: top;
}

.question-avatar-agent:after, .answer-avatar-agent:after {
  background-color: transparent;
  background-image: url(/hc/assets/agent-marker.png);
  background-image: url(/hc/assets/agent-marker.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30px;
  top: 30px;
  content: " ";
}

.question-avatar img, .answer-avatar img {
  border-radius: 3px;
  max-height: 38px;
  max-width: 38px;
}

.question-body, .answer-body, .answer-official-body {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.question-body .answer-official-body {
  vertical-align: top;
  width: 100%;
}

.question-body p, .answer-body p, .answer-official-body p {
  margin: 0 0 10px;
}

.question-body .question-meta, .answer-body .answer-meta, .answer-official-body .answer-meta {
  float: left;
}

.question .answer {
  border: none;
  padding-bottom: 0;
}

.question-topic-list {
  margin: -20px 0 30px;
}

.question-topic-list li {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.question-topic-list a {
  background: #f6f6f6;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  color: #cccccc;
  display: inline-block;
  font-size: 11px;
  padding: 7px 15px;
}

.question-title, .topic-title {
  margin: -3px 0 5px;
  font-size: 15px;
}

.question-title a, .topic-title a {
  font-weight: lighter;
}

.question-meta, .answer-meta, .topic-meta {
  color: #cccccc;
  font-size: 11px;
}

.topic-meta span + span:before, .question-meta span + span:before, .answer-meta span + span:before {
  content: "\2022";
  font-size: 10px;
  margin: 0 10px;
}

.answer-form {
  margin: 30px 0 0 95px;
}

.answer-form-controls {
  display: none;
  margin-top: 10px;
  text-align: right;
}

.answer-form-controls input[type=submit] {
  margin-left: 15px;
}

.answer-form-controls .pull-left {
  float: left;
}

.answer-official-heading {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 20px;
  border-bottom: 0px;
}

.answer-list-heading {
  border-bottom: 1px solid #2C2C2C;
  margin-top: 30px;
  padding-bottom: 20px;
}

.pending-moderation-answer-badge {
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: #c7aa2b;
  color: #c7aa2b;
  padding: 3px 5px;
  float: left;
  margin-top: 10px;
  font-size: 12px;
}

.question-share, .answer-share {
  position: relative;
}

.related-questions-header {
  border-bottom: 1px solid #2C2C2C;
}

.related-questions-heading {
  margin-top: 3px;
}

.related-questions li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Vote */
.vote {
  display: table-cell;
  margin-left: 15px;
  margin-right: 10px;
  min-width: 95px;
  vertical-align: top;
}

.vote-sum, .vote-controls {
  display: inline-block;
  vertical-align: middle;
}

.vote-sum {
  font-size: 15px;
  font-weight: bold;
  min-width: 60px;
  padding-left: 10px;
  text-align: center;
}

.vote-controls {
  border-radius: 5px;
}

.vote-controls a {
  background: transparent;
  border-color: #2c2c2c;
  box-shadow: none;
  color: #bebebe;
  display: block;
  font-family: "entypo";
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
}

.vote-up {
  border-radius: 5px 5px 0 0;
}

.vote-down {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.vote-up:before {
  content: "\E763";
}

.vote-down:before {
  content: "\E760";
}

.vote-controls:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.vote-controls:hover a {
  background: transparent;
  border-color: #2c2c2c;
  color: #BBB;
}

.vote-controls a:hover, .vote-controls [aria-selected=true] {
  background: #333;
  color: #bbb;
}

.vote-controls a:active {
  background: #333;
  color: #ddd;
}

/* Accept */
.answer-accept {
  color: #BBB;
  font-size: 15px;
  max-width: 15px;
  overflow: hidden;
  padding-top: 7px;
  position: absolute;
  white-space: nowrap;
}

.answer-accept:hover {
  text-decoration: none;
}

.answer-accept:before {
  content: "\2713";
  font-family: "entypo";
  margin-right: 5px;
}

.answer-accepted .answer-accept, .answer-accepted .vote-sum {
  color: green;
}

/* Admin controls */
.topic-controls, .question-controls, .answer-controls {
  float: right;
  font-size: 11px;
}

.topic-edit:before, .question-delete:before, .question-mark-as-spam:before, .answer-delete:before, .answer-mark-as-spam:before {
  color: #cccccc;
  content: "\2022";
  font-size: 10px;
  margin-left: -16px;
  margin: 0 8px;
  pointer-events: none;
  position: relative;
  display: inline-block;
}

/* Share questions and answers */
.share-label {
  cursor: pointer;
}

.share-label + .share {
  background: #FFF;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  left: 50%;
  line-height: 70px;
  margin: 10px 0 0 -75px;
  position: absolute;
  text-align: center;
  top: 100%;
  white-space: nowrap;
  width: 175px;
  z-index: 1;
}

.share-label + .share:before, .share-label + .share:after {
  content: "";
  display: inline-block;
  left: 50%;
  position: absolute;
}

.share-label + .share:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-left: 7px solid transparent;
  margin-left: -6px;
}

.share-label + .share:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  border-left: 6px solid transparent;
  margin-left: -5px;
}

.share-label[aria-selected="true"] {
  color: #111;
}

.share-label[aria-selected="true"] + .share {
  display: block;
}

.share-label[aria-selected="false"] + .share {
  display: none;
}

body.community-enabled .search-results-column {
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
body.community-enabled .search-results-column + .search-results-column {
  margin-left: 35px;
}
[dir=rtl] body.community-enabled .search-results-column + .search-results-column {
  margin-left: 0;
  margin-right: 35px;
}

.search-results-subheading {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.search-results-subheading-link {
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
}

.search-results-list {
  margin-bottom: 25px;
}
.search-results-list > * {
  border-bottom: 1px solid #2C2C2C;
  padding: 20px 0;
}
.search-results-list > *:first-child {
  border-top: 1px solid #2C2C2C;
}

.search-result-link {
  font-size: 16px;
}

.search-result-description, .search-result-meta {
  padding-top: 16px;
}

.search-result-meta-name, .search-result-meta-time, .search-result-meta-count {
  font-size: 12px;
  color: #bebebe;
}

.search-result-meta-time:before, .search-result-meta-count:before {
  display: inline-block;
  padding-right: 5px;
  content: '\2022';
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.search-result-votes {
  background: #424F3F;
  border-radius: 2px;
  color: #CBCBCB;
  display: inline-block;
  line-height: 1;
  margin-left: 5px;
  padding: 4px 5px;
  position: relative;
  top: -2px;
}
.search-result-votes:before {
  content: "\1F44D";
  font-family: "entypo";
  margin-right: 3px;
}

.chat {
  background: #f6f6f6;
  border: 1px solid #E0E0E0;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 13px;
  line-height: 35px;
  padding: 0 15px;
  position: fixed;
  right: 85px;
  -webkit-transition: bottom .5s ease-in, color .5s ease-in;
  -moz-transition: bottom .5s ease-in, color .5s ease-in;
  -ms-transition: bottom .5s ease-in, color .5s ease-in;
  -o-transition: bottom .5s ease-in, color .5s ease-in;
  transition: bottom .5s ease-in, color .5s ease-in;
}

.chat:before {
  content: "\E720";
  font-family: "entypo";
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.chat:hover {
  text-decoration: none;
}

.chat-available {
  bottom: 0;
}

.chat-unavailable {
  color: gray;
  cursor: default !important;
  bottom: -50px;
}

.error-page {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 5%;
}

.error-page h1 {
  font-size: 52px;
  margin-bottom: 0;
}

.error-page h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.error-page > a {
  display: block;
  margin-top: 25px;
}

.recent-activity {
  background: #333;
  border-radius: 5px;
  padding: 25px 20px;
  width: 270px;
}

.recent-activity-header {
  margin-top: 0;
  font-size: 15px;
}

.recent-activity-item ~ .recent-activity-item {
  margin-top: 15px;
}

.recent-activity-item-parent {
  color: #bbb;
  font-size: 12px;
  text-decoration: none;
  display: block;
}
.recent-activity-item-parent:hover {
  text-decoration: underline;
}

.recent-activity-item-link {
  display: block;
}

.recent-activity-item-meta {
  font-size: 12px;
  color: #999999;
}

.recent-activity-item-time {
  display: inline-block;
}

.recent-activity-item-comment {
  display: none;
}
.recent-activity-item-comment:before {
  display: inline-block;
  content: "\2022";
}
.recent-activity-item-comment span:before {
  font-family: "entypo";
  content: "\00a0\00a0\e718";
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
}

[data-recent-activity-action="article_comment_added"] .recent-activity-item-comment,
[data-recent-activity-action="post_comment_added"] .recent-activity-item-comment,
[data-recent-activity-action="answer_added"] .recent-activity-item-comment {
  display: inline-block;
}

.recent-activity-controls,
.recent-activity-loader {
  padding-top: 20px;
  font-size: 12px;
}

.recent-activity-loader {
  display: inline-block;
  position: relative;
}
.recent-activity-loader:before {
  display: block;
  position: absolute;
  content: "\0020";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #f9f9f9 50%, rgba(255, 255, 255, 0) 100%);
  animation: recent-activity-loader 0.5s infinite;
  -webkit-animation: recent-activity-loader 0.5s infinite;
}

@keyframes recent-activity-loader {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}
@-webkit-keyframes recent-activity-loader {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}
.escalation-badge, a.escalation-badge {
  background-color: #95be22;
  border-color: #95be22;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  font-size: 11px;
  margin: 0 3px;
  padding: 1px 3px;
  text-decoration: none;
  vertical-align: baseline;
}


.other-resources {
	display: inline-block; 
  width: 412px;
  white-space: normal;  
  padding-right: 20px;
}

.other-resources h2 {
  border-bottom: 1px solid #2c2c2c;
  font-size: 16px;
  margin: 25px 0;
  padding-bottom: 18px;
}

.other-resources ul {
  list-style: disc;  
  padding-left:15px;
}
.other-resources ul li {
  margin: 10px 0;
}

.home-content {
  
}

.knowledge-base .category {
  display: none;
}

.knowledge-base .category:first-child {
  display: block;
}

.knowledge-base .category:first-child .new-tabs-container {
  background: #222;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;
}

.knowledge-base .category:first-child .new-tabs-container a {
  color: #888;
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
}

.knowledge-base .category:first-child .new-tabs-container a.active {
  color: #ddd;
}

.knowledge-base .category:first-child h2 {
  margin-bottom: 0;
}

.knowledge-base .category:first-child section {
  display: none;
  padding: 0 0 0 20px;
  width: auto;
}
.knowledge-base .category:first-child section h3 {
  display: none;
}

.header .logo .title {
  font-size: 19px;
  padding-left: 3px;
  text-decoration: none !important;
  color: #888;
}

.home-nav {
  margin-top: 220px;  
  margin-bottom: 70px;
      white-space: nowrap;
}

.home-nav a {
  color: #ffd180;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 230px;
  text-transform: uppercase;
}
.home-nav a img {
  margin-bottom: 15px;
}

code {
  background: #272727;
  color: #eee;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
}
code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre code {
  padding: 0;
  font-size: 13px;
}
a code {
  color: #428bca;
}

.article-body ul {
  
  list-style-position: outside;
}

.article-body ul.list-sparse li {
  margin: 10px 0;
}

.article-body ul.list-sparse li ul li {
  margin: 0 !important;
}

.answer-form {
  margin-left: 0;
}

.answer-form .answer-body {
  display: block;
}

.question-topic-list {
  margin: 0;
}


.nesty-input {
  border: transparent !important;
  background-color: #2C2C2C !important;
  color: #999 !important;
}

.notification-error {
  background: #522F2F;
  border-color: transparent;
}
  	
code.language-javascript {
  background: inherit;
}

.api-block-template {
  display: none;
}

pre {
  border: 0 !important;
}



 .api-block {
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  margin: 20px 0;
  overflow: hidden;
}
 .api-block .api-title {
  background-color: #2c2c2c;
  padding: 10px;
   color: #ccc;
   font-size: 17px;
     font-family: Consolas, Monaco, 'Andale Mono', monospace;
}
 .api-block .api-title .anchor {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
  float: right;
     position: relative;
  top: 1px;
}
 .api-block .api-desc {
  padding: 10px;
   font-size: 15px;
}
 .api-block .api-type {
  font-size: 13px;
  font-weight: normal;
  color: #6C6A6A;
  display: inline-block;
  margin-left: 10px;
}
 .api-block .api-more-handle {
  display: inline-block;
  background: transparent;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
  margin-left: 5px;
}
 .api-block .api-more-handle:hover {
  background: #2c2c2c;
}
 .api-block .api-body {
  padding: 0 10px 10px 10px;
  font-size: 13px;
}
 .api-block.api-method {
  border-top: 3px solid #615C44;
}
 .api-block.api-method .api-title {
  background-color: #38362B;
  color: #D8CCA4;
}
 .api-args {
  font-size: 14px;
}
 .api-args .api-arg-title {
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
       color: #e0e0e0;
}
 .api-args .api-arg-type {
  color: #5F5F5F;
  font-size: 13px;
  display: inline-block;
  margin-left: 5px;
}
 .api-args .api-arg-desc {
  margin-left: 20px;
  margin-top: 5px;
   font-size: 13px;
}
.api-args .api-args {
    margin-left: 40px;
}

.api-title a {
  color: #ccc;
  text-decoration: underline;
}

.api-root h4 {
  font-size: 18px;
}

.api-root h5 {
  font-size: 14px;
}

.api-root hr {
  height: 8px;
  background-color: #333;
}

.api-root .cpu-cost {
  float: right;
  font-size: 11px;
  color:   #75705F;
    margin-right: 15px;
  position: relative;
  top: 3px;
}

.api-root .cpu-cost .cpu-cost-high {
  color: rgb(228, 116, 116);;
}

.api-root .cpu-cost .cpu-cost-average {
  color: rgb(190, 184, 137);
}

.api-root .cpu-cost .cpu-cost-low {
  color: rgb(145, 151, 151);
}

.api-root h1 {font-size: 26px; margin: 40px 0 20px 0;}
.api-root h1 img {float: right; vertical-align: middle};
.api-root h1 span {vertical-align: middle}


.article-body b, .article-body strong {
  color: #E0E0E0;
}

.question-text b, .question-text strong,
.answer-text b, .answer-text strong {
  color: #fff;
}
.comment-body b, .comment-body strong {
	color: #E0E0E0;
}

code .comment {
  display: inline !important;
  width: auto !important;
}

.comment-author {
  color: #ccc;
}


.user-info {
    position: relative;
  top: -2px;
}

.twitter {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: transparent url('https://screeps.com/img/twitter.png') no-repeat 0 0;
  margin-left: 15px;
}

.facebook {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: transparent url('https://screeps.com/img/facebook.png') no-repeat 0 0;
}

.social {
  margin-top: 20px;
}

.nesty-panel {
  z-index: 1050 !important;
}

.question-meta {
  color: #777;
}
.question-meta .question-author a {
  color: #999;
}

.community-nav + .clearfix .main-column {
  width: 940px;
}

.twitter-container {
      display: inline-block;
    width: 220px;
    vertical-align: top;
    padding-top: 32px;
}



/*.question-avatar, 
.answer-avatar, 
.comment-avatar,*/ 
.user-avatar,
.article-avatar, 
.community-nav + .clearfix > h1:not([class]),
.question-form .form-field p,
.article-author
{
  display: none;
}

.searchbox-suggestions {
    background-color: #171717;
  border: 0;
}

img.badge {
  display: inline-block;
    border-radius: 100%;
    background: #333;
    vertical-align: middle;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.comment-avatar .badge,
.answer-avatar .badge,
.question-avatar .badge {
  width: 38px;
  height: 38px;
}

.question-author img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#hc-wysiwyg {
  background-color: #2c2c2c !important;
  border: 0 !important;
  
}

#hc-wysiwyg [role=toolbar] {
  background-color: #383838 !important;
  border: 0 !important;
}

#hc-wysiwyg [class^=wysiwyg-icon-] {
  color: #828282 !important;
}
#hc-wysiwyg [class^=wysiwyg-icon-]:hover, #hc-wysiwyg [class^=wysiwyg-icon-][aria-selected=true] {
  background-color: #666;
  border-color: transparent !important;
  color: #eee !important;;
}

#hc-wysiwyg [role=separator] {
  background-color: #4E4E4E !important;
}

#hc-wysiwyg [role=menu] [role=button]{
  color: #555;
}

.question.post-pinned .question-title:before {
	content: 'Pinned:';
  display: inline;
  color: #C1C1C1;
  font-size: 12px;
  margin-right: 5px;
}

.agent-only {
  display: none;
}
.question-list .question .agent-only {
  position: absolute;
  left: -40px;
  
  
}

.question-list .question .agent-only button {
  background-color: #333;
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-align: center;
}

.irc {
  background: #3B563C;
    padding: 10px 15px;
    border-radius: 5px;
    color: #B9D8BB;
  margin-left:-15px;
  margin-bottom: 15px;
}

.irc a {
  color: #84FF8C;
  text-decoration: underline;
}

.irc strong {
  color: #84FF8C;
}

.search-results .irc {
  margin-top: -15px;
  margin-bottom: 35px;
}
.markdown ul ul {
    list-style-type: circle;
  margin-left: 20px;
}

table.minerals {
  font-size: 12px;  
  
}

.minerals td {
  vertical-align: middle;
}

.minerals td:nth-child(3), .minerals  th:nth-child(3) {
  width: 60px;
}

.minerals td:nth-child(2), .minerals  th:nth-child(2) {
  width: 120px;
}

.minerals th[colspan]  { 
  font-weight: bold; 
  color: #ffd180;
  background-color: #333; 
}

.minerals img {
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
  
table.table-nopadding td {
  padding: 0;
}
  
.prototype-tree ul {
    list-style: none !important;
    padding-left: 0 !important;    
  margin-left: 0 !important;
}
.prototype-tree ul ul ul {
  margin-left: 15px !important;
}
.prototype-tree ul li li:before {
   content: '└ ';
}

table.table ul {
      padding: 0;
    list-style-position: inside;
}

.upload-dropzone {
    border: 1px solid #2d2d2d;
}

.p-headsup {
      border-left: 4px solid #7fe87f;
    color: #7fe87f;
    padding-left: 10px;
      margin-left: 30px;
}

.cheatsheet {
  font-size: 12px;
  table-layout: auto !important;
  border-top: 1px solid #333;
}
.cheatsheet:first-child {
    border-top: 0;
}

.cheatsheet td, .cheatsheet th {
  border: 0;
}

.cheatsheet .mute {
  color: #777;
  font-family: monospace;
}
.cheatsheet td:first-child a {
  color: #428bca;
  font-family: monospace;
}
.cheatsheet.cheatsheet--methods td:first-child {
/*  color: #eadb69;*/
}